.App{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.topBar{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: black;
  padding-left: 20px;
}

.blogTitle{
  color: white;
  margin:0;
  font-size: 20px;
}

.contentSets{
  width:100%;
  height:100%;
}

.addNoteButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
}

#plusButtonCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusButton{
  font-size:30px;
  font-weight: bold;
}